<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lam.fooapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MangoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.order.OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.order.OrderListActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.WaiterActivity"
            android:label="Waiter"/>
        <activity
            android:name=".activity.admin.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.admin.SignupActivity" android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.admin.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MangoService"
            android:enabled="true" />

        <receiver
            android:name=".services.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />
        <receiver
            android:name=".services.NewOrderBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.admin.FoodListActivity" />

    </application>

</manifest>